@using CarInsurance.Models;
@model List<QuoteModel>

<div class="card">
    <div class="card-body" style="margin-top: 40px;">
        <h2>Your Estimated Monthly quote:</h2>

        @foreach (var quote in Model)
        {
            <div class="row mb-3">
                <div class="col mb-2">
                    @quote.FirstName
                </div>
                <div class="col">
                    @quote.LastName
                </div>
                <div class="col mb-4">
                    @quote.EmailAddress
                </div>
                <div class="col">
                    $@quote.cost
                </div>
            </div>

        }
    </div>
</div>